$background: #ffffff;
$text-color: #766f68;
$main-color: #d2872c;

$breakpoint-mobile: 760px;

$font-family: "Roboto", verdana, arial;

@keyframes menuOpen {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
